* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (max-width: 1800px) {
    html {
        font-size: 12px;
    }   
}

body {
    background-color: rgba(59, 70, 100, 1);
    font-family: 'Inter', sans-serif;
}

.calc {
    height: 52.5vh;
    width: 27vw;
    position: relative;
    top: 18vh;
    left: 33vw;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.title {
    position: relative;
    top: 18vh;
    left: 33vw;
    font-size: 1.75rem;
    font-weight: 800;
    text-align: left;
}

.input {
    width: 100%;
    height: 17.5%;
}

.input input {
    width: 100%;
    height: 100%;
    border-radius: 0.75rem;
    box-sizing: border-box;
    box-shadow: 4px rgba(0, 0, 0, 0.25);
    background: rgba(25, 31, 47, 1);
    border: none;
    font-family: 'Segoe UI', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 5rem;
    text-align: right;
    color: white;
    padding: 0.75rem;
}

.keys {
    width: 100%;
    height: 77.5%;
    display: flex;
    flex-direction: column;
    gap: 11%;
    box-shadow: 0.25rem rgba(0, 0, 0, 0.25);
    background: rgba(37, 45, 68, 1);
    border-radius: 0.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 3%;
    position: relative;
    left: 5%;
    top: 10%;
}

.top div {
    height: 240%;
    width: 20%;
    /* background-color: white; */
}

.five div {
    height: 240%;
    width: 43%;
    /* background-color: white; */
}

.row div {
    border-radius: 0.6rem;
    opacity: 0px;
}

p {
    text-align: center;
    position: relative;
    top: 1.5vh;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 800;
    /* line-height: 2.25rem; */
}

.gray {
    background-color: rgb(112, 124, 168);
}

.white {
    background-color: white;
}

.red {
    background-color: rgb(231, 42, 42);
    /* opacity: 70%; */
}

/* .row div {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(44, 54, 79, 1); 
    padding: 10px;
}

p {
    margin: 0;
    padding: 5px;
    color: white;
    text-align: center;
} */
